Allow configuring hostname as part of `VpcCfg` to return with DHCP response.

A DHCP server can send along an option[^1] indicating the host name for a client as part of the DHCP response.

Per the RFC, the host name doesn't need to be fully qualified but relatedly, we might want to also send a domain name[^2]?

[^1]: [RFC 2132 § 3.14 Host Name Option](https://www.rfc-editor.org/rfc/rfc2132.html#section-3.14)
[^2]: [RFC 2132 § 3.17 Domain Name](https://www.rfc-editor.org/rfc/rfc2132.html#section-3.17)